.myinfo {
    font-family: "Comic Sans MS",cursive,sans-serif;
    background: lavenderblush;
    /*text-align: center;*/
    /*align-items: center;*/
}
.li {

}
p{
    margin-right: 40px;
    align-content: center;
    font-family: "Comic Sans MS",cursive,sans-serif;

}