{% extends 'base.html'  %}
{% block body %}

       <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="panle panel-default">
                        <div class="panel-body">
                            <form class="form-horizontal" action="{% url 'task2:MyQuery' %}" method="post" enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                                {% include 'form-template.html' %}
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}